@import './reset';
@import './fonts';
@import './variables/global';
@import './themes/light';
@import './themes/dark';

.app {
  font: var(--font-m);
  background: var(--inverted-bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
}

.page-wrapper {
  background: var(--bg-color);
  border-top-left-radius: 30px;
  flex: 1;
  padding: 20px 30px;
}
