.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  font-weight: 600;
  padding: 3px;
  margin: 0 8px;
}
