.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  color: var(--border-primary);
  border: 2px solid var(--border-primary);
  font-weight: 700;
  padding: 3px;
}
