.select-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;

  & label {
    margin-left: 8px;
  }
}

.select-wrapper::before,
.select-wrapper::after {
  --size: 0.3rem;

  content: '';
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.select-wrapper::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--text-primary);
  top: 61%;
}

.select-wrapper::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--text-primary);
  top: 74%;
}

.select {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;

  &:focus-visible {
    transition: box-shadow 0.3s ease;
  }

  &.sm:focus-visible {
    box-shadow:
      0 0 0 3px var(--bg-primary),
      0 0 0 6px var(--border-primary);
  }

  &.md:focus-visible {
    box-shadow:
      0 0 0 4px var(--bg-primary),
      0 0 0 7px var(--btn-primary-focus);
  }

  &.lg:focus-visible {
    box-shadow:
      0 0 0 5px var(--bg-primary),
      0 0 0 8px var(--border-primary);
  }
}

::placeholder {
  color: var(--text-secondary);
}
