.error-boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  font: var(--font-m);
  color: var(--text-primary);
  background: var(--bg-primary);

  h2 {
    font: var(--font-xl);
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    color: var(--text-secondary);
  }
}
