.button {
  padding: 0;
  outline: none;
  background: none;
  cursor: pointer;
  border: 1px solid transparent;
  color: var(--text-primary);
}

.solid {
  background-color: var(--btn-bg-primary);
  color: var(--btn-text-primary);
  padding: 10px 16px;
  border-radius: 8px;
}

.outlined {
  border: 1px solid var(--btn-bg-primary);
  color: var(--btn-bg-primary);
  padding: 10px 16px;
  border-radius: 8px;
}
