#sidebar {
  background: var(--bg-secondary);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
  padding: 60px 0 30px;
  width: var(--sidebar-width);
  position: relative;
  transition: width 0.3s;
}

.collapsed {
  width: var(--collapsed-sidebar-width);
}
