.sidebar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.arrow-btn {
  transform: rotate(-180deg);
  transition: transform 0.35s;
  margin-top: 56px;
  padding-left: 7px;
}

.collapsed .arrow-btn {
  transform: rotate(0deg);
}

.arrow-icon {
  fill: var(--border-primary);
  stroke: var(--border-primary);
}

.switchers::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background: var(--border-primary);
  position: absolute;
  top: 0;
}

.switchers {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  padding-top: 24px;
  gap: 8px;
  width: 100%;

  & span {
    opacity: 1;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    transition:
      max-width 0.3s,
      transform 0.3s,
      opacity 0.3s;
  }

  .collapsed & span {
    opacity: 0;
    max-width: 0;
  }
}
