.aprikot-theme {
  // Common
  --bg-primary: #ffd8b1;
  --bg-secondary: #f5c288;
  --text-primary: #523006;
  --text-secondary: #8a571d;

  // Button
  --btn-bg-primary: #523006;
  --btn-text-primary: #ffd8b1;
  --btn-primary-focus: rgb(82 48 6 / 70%);

  // Link
  --link-primary: #914e02;
  --link-primary-hover: #653702;

  // Border
  --border-primary: #734612;

  // Other colors
  --danger-light: #d62b04;
  --danger-dark: #dc4524;
}
