.aprikot-theme {
  // Common
  --bg-primary: #ffd8b1;
  --bg-secondary: #f5c288;
  --text-primary: #523006;
  --text-secondary: #734612;

  // Button
  --btn-bg-primary: #523006;
  --btn-text-primary: #ffd8b1;

  // Link
  --link-primary: #914e02;
  --link-primary-hover: #653702;

  // Border
  --border-primary: #734612;
}
