.aprikot-theme {
  --bg-color: #f8cb9b;
  --inverted-bg-color: #fcefe1;
  --primary-color: #31281f;
  --secondary-color: #f8cb9b;
  --inverted-primary-color: #1e64d5;
  --inverted-secondary-color: #63513e;
  --text-primary-color: #31281f;
  --text-secondary-color: #e9ecef;
}
