.dark-theme {
  // Common
  --bg-primary: #191b22;
  --bg-secondary: #0e0f14;
  --text-primary: #fff;
  --text-secondary: #aaa;

  // Button
  --btn-bg-primary: #fecb00;
  --btn-text-primary: #111;
  --btn-primary-focus: rgb(254 203 0 / 70%);

  // Link
  --link-primary: #fecb00;
  --link-primary-hover: #c9a100;

  // Border
  --border-primary: #bbb;

  // Other colors
  --danger-light: #e74d4b;
  --danger-dark: #d0403e;
}
