.app.dark {
  --bg-color: #212529;
  --inverted-bg-color: #e9ecef;
  --primary-color: #f48906;
  --secondary-color: #f8cb9b;
  --inverted-primary-color: #2973ea;
  --inverted-secondary-color: #3d639f;
}
