.light-theme {
  --bg-color: #e9ecef;
  --inverted-bg-color: #212529;
  --primary-color: #1e64d5;
  --secondary-color: #3d639f;
  --inverted-primary-color: #f48906;
  --inverted-secondary-color: #f8cb9b;
  --text-primary-color: #212529;
  --text-secondary-color: #eff1f4;
}
