.light-theme {
  // Common
  --bg-primary: #f7f6f6;
  --bg-secondary: #ddd;
  --text-primary: #262626;
  --text-secondary: #666;

  // Button
  --btn-bg-primary: #007bff;
  --btn-text-primary: #fff;

  // Link
  --link-primary: #575757;
  --link-primary-hover: #343434;

  // Border
  --border-primary: #4b4b4b;
}
