.light-theme {
  // Common
  --bg-primary: #f7f6f6;
  --bg-secondary: #ddd;
  --text-primary: #262626;
  --text-secondary: #777;

  // Button
  --btn-bg-primary: #f4511e;
  --btn-text-primary: #fff;
  --btn-primary-focus: rgb(244 81 30 / 70%);

  // Link
  --link-primary: #f4511e;
  --link-primary-hover: #343434;

  // Border
  --border-primary: #666;

  // Other colors
  --danger-light: #cc3936;
  --danger-dark: #d94b48;
}
