.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-secondary);
  transition: background 0.4s;
  display: flex;
  align-items: center;
  padding: 20px;
}

.wrapper {
  margin: 0 22px 0 auto;
  display: flex;
  align-items: center;
}
