.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 12px;
}

.info {
  display: flex;
  gap: 30px;
}

.avatar {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 1px solid var(--border-primary);
  border-radius: 14px;
}

.avatar img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 14px;
  object-fit: cover;
}

.brief,
.detailed {
  align-self: start;
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid var(--border-primary);
  border-radius: 14px;
}

.input-field:not(:last-of-type) {
  border-bottom: 1px solid var(--border-primary);
}

.input {
  margin: 14px;
  width: calc(100% - 28px);
}

.input:disabled {
  background-color: transparent;
}
