.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid var(--text-primary);
  margin-right: 8px;
}
