.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 2px solid var(--border-primary);
  margin-right: 8px;
}
